/*
 * SPDX-FileCopyrightText: 2021 Zextras <https://www.zextras.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.tabItem {
  outline: none;
  min-width: 0;
  flex-basis: fit-content;
  flex-grow: 1;
  height: 100%;
  background: var(--tab-bg-regular);
  transition: 0.2s ease-out;
  border-bottom: 0.0625rem solid transparent;
  cursor: pointer;
  user-select: none;
}

.tabItemEquallyDistributed {
  flex-basis: unset;
}

.tabItemSelected {
  border-bottom-color: var(--tab-underline-color);
}

.tabItemDisabled {
  cursor: default;
}

.tabItem:not(.tabItemDisabled):hover {
  background: var(--tab-bg-hover);
}

.tabItem:not(.tabItemDisabled):focus {
  background: var(--tab-bg-focus);
}

.labelText {
  line-height: 1.5;
}
