/*
 * SPDX-FileCopyrightText: 2024 Zextras <https://www.zextras.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

/*  this file defines CSS variables that map to the colors defined in Theme.palette */

:root {
  --color-primary-regular: #2b73d2;
  --color-primary-hover: #225ca8;
  --color-primary-active: #1e5092;
  --color-primary-focus: #225ca8;
  --color-primary-disabled: #aac8ee;
  --color-primary-highlight: #d5e3f6;

  --color-secondary-regular: #828282;
  --color-secondary-hover: #696969;
  --color-secondary-active: #5c5c5c;
  --color-secondary-focus: #696969;
  --color-secondary-disabled: #cccccc;

  --color-header-regular: #cfd5dc;
  --color-header-hover: #b1bbc6;
  --color-header-active: #a3aebc;
  --color-header-focus: #b1bbc6;
  --color-header-disabled: #cfd5dc;

  --color-gray0-regular: #414141;
  --color-gray0-hover: #282828;
  --color-gray0-active: #1b1b1b;
  --color-gray0-focus: #282828;
  --color-gray0-disabled: #cccccc;

  --color-gray1-regular: #828282;
  --color-gray1-hover: #696969;
  --color-gray1-active: #5c5c5c;
  --color-gray1-focus: #696969;
  --color-gray1-disabled: #cccccc;

  --color-gray2-regular: #cfd5dc;
  --color-gray2-hover: #b1bbc6;
  --color-gray2-active: #a3aebc;
  --color-gray2-focus: #b1bbc6;
  --color-gray2-disabled: #cfd5dc;

  --color-gray3-regular: #e6e9ed;
  --color-gray3-hover: #c8cfd8;
  --color-gray3-active: #bac2cd;
  --color-gray3-focus: #c8cfd8;
  --color-gray3-disabled: #e6e9ed;

  --color-gray4-regular: #eeeff3;
  --color-gray4-hover: #d0d3de;
  --color-gray4-active: #c1c5d3;
  --color-gray4-focus: #d0d3de;
  --color-gray4-disabled: #eeeff3;

  --color-gray5-regular: #f5f6f8;
  --color-gray5-hover: #d7dbe3;
  --color-gray5-active: #c8ced9;
  --color-gray5-focus: #d7dbe3;
  --color-gray5-disabled: #f5f6f8;

  --color-gray6-regular: #ffffff;
  --color-gray6-hover: #e6e6e6;
  --color-gray6-active: #d9d9d9;
  --color-gray6-focus: #e6e6e6;
  --color-gray6-disabled: #ffffff;

  --color-warning-regular: #ffc107;
  --color-warning-hover: #d39e00;
  --color-warning-active: #ba8b00;
  --color-warning-focus: #d39e00;
  --color-warning-disabled: #ffe699;

  --color-error-regular: #d74942;
  --color-error-hover: #be3028;
  --color-error-active: #a92a24;
  --color-error-focus: #be3028;
  --color-error-disabled: #edaeab;

  --color-success-regular: #8bc34a;
  --color-success-hover: #71a436;
  --color-success-active: #639030;
  --color-success-focus: #71a436;
  --color-success-disabled: #cee6b2;

  --color-info-regular: #2196d3;
  --color-info-hover: #1a75a7;
  --color-info-active: #176691;
  --color-info-focus: #1a75a7;
  --color-info-disabled: #a7d7f1;

  --color-text-regular: #333333;
  --color-text-hover: #1a1a1a;
  --color-text-active: #0d0d0d;
  --color-text-focus: #1a1a1a;
  --color-text-disabled: #cccccc;

  --color-black: #000000;
  --color-white: #ffffff;

  --color-successBanner: #e6f2d8;
  --color-warningBanner: #fff7de;
  --color-infoBanner: #d3ebf8;
  --color-errorBanner: #f6d6d5;

  --color-transparent: rgba(0, 0, 0, 0);
  --color-transparent-hover: rgba(0, 0, 0, 0.05);
  --color-transparent-active: rgba(0, 0, 0, 0.1);
  --color-transparent-focus: rgba(0, 0, 0, 0.05);
  --color-transparent-disabled: rgba(0, 0, 0, 0);

  --color-currentColor: currentColor;

  --icon-size-small: 0.75rem;
  --icon-size-medium: 1rem;
  --icon-size-large: 1.5rem;

  --font-size-extrasmall: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.125rem;
  --font-size-extralarge: 1.25rem;

  --padding-size-extrasmall: 0.25rem;
  --padding-size-small: 0.5rem;
  --padding-size-medium: 0.75rem;
  --padding-size-large: 1rem;
  --padding-size-extralarge: 1.5rem;

  --avatar-small-diameter: 1rem;
  --avatar-small-font: 0.3125rem;
  --avatar-medium-diameter: 2rem;
  --avatar-medium-font: 0.75rem;
  --avatar-large-diameter: 3rem;
  --avatar-large-font: 1.125rem;
  --avatar-extralarge-diameter: 4rem;
  --avatar-extralarge-font: 1.75rem;

  --border-radius: 0.125rem;

  --font-family: 'Roboto', sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --color-highlight-regular: #d5e3f6;
  --color-highlight-hover: #abc6ed;
  --color-highlight-active: #96b8e9;
  --color-highlight-focus: #abc6ed;
  --color-highlight-disabled: #d5e3f6;

  --color-avatar-1: #ef9a9a;
  --color-avatar-2: #f48fb1;
  --color-avatar-3: #ce93d8;
  --color-avatar-4: #b39ddb;
  --color-avatar-5: #9fa8da;
  --color-avatar-6: #90caf9;
  --color-avatar-7: #81d4fa;
  --color-avatar-8: #80deea;
  --color-avatar-9: #80cbc4;
  --color-avatar-10: #a5d6a7;
  --color-avatar-11: #c5e1a5;
  --color-avatar-12: #e6ee9c;
  --color-avatar-13: #ffe082;
  --color-avatar-14: #ffcc80;
  --color-avatar-15: #ffab91;
  --color-avatar-16: #bcaaa4;
  --color-avatar-17: #e57373;
  --color-avatar-18: #f06292;
  --color-avatar-19: #ba68c8;
  --color-avatar-20: #9575cd;
  --color-avatar-21: #7986cb;
  --color-avatar-22: #64b5f6;
  --color-avatar-23: #4fc3f7;
  --color-avatar-24: #4dd0e1;
  --color-avatar-25: #4db6ac;
  --color-avatar-26: #81c784;
  --color-avatar-27: #aed581;
  --color-avatar-28: #dce775;
  --color-avatar-29: #ffd54f;
  --color-avatar-30: #ffb74d;
  --color-avatar-31: #ff8a65;
  --color-avatar-32: #a1887f;
  --color-avatar-33: #0097a7;
  --color-avatar-34: #ef5350;
  --color-avatar-35: #ec407a;
  --color-avatar-36: #ab47bc;
  --color-avatar-37: #7e57c2;
  --color-avatar-38: #5c6bc0;
  --color-avatar-39: #42a5f5;
  --color-avatar-40: #29b6f6;
  --color-avatar-41: #26c6da;
  --color-avatar-42: #26a69a;
  --color-avatar-43: #66bb6a;
  --color-avatar-44: #9ccc65;
  --color-avatar-45: #d4e157;
  --color-avatar-46: #ffca28;
  --color-avatar-47: #ffa726;
  --color-avatar-48: #ff7043;
  --color-avatar-49: #8d6e63;
  --color-avatar-50: #0288d1;

  --shadow-regular: 0 0 0.25rem 0 rgba(166, 166, 166, 0.5);
  --shadow-snackbar: -2px 2px 5px 0 rgba(0, 0, 0, 0.25);
}
