/*
 * SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.breadcrumbText {
  cursor: pointer;
}

.breadcrumbText[data-is-last='false'] {
  color: #cccccc;
}

.lastBreadcrumbText {
  color: var(--color-gray0-regular);
}
