/*
 * SPDX-FileCopyrightText: 2026 Zextras <https://www.zextras.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.overlayContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 12px -1px #888;
  cursor: pointer;
  z-index: 998;
}

.subOverlayContainer {
  max-width: var(--modal-overlay-max-width, 39.375rem);
  width: 100%;
  height: 100vh;
  float: right;
  position: relative;
  box-shadow: -6px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
