/*
 * SPDX-FileCopyrightText: 2021 Zextras <https://www.zextras.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

/* ContainerEl - dropdown item container */
.containerEl {
	user-select: none;
	outline: none;
	background: var(--dropdown-item-bg);
	transition: background 0.2s ease-out;
}

.containerEl:focus {
	outline: none;
	background: var(--dropdown-item-bg-focus);
}

.containerEl:hover:not(.disabled) {
	background: var(--dropdown-item-bg-hover);
}

.containerEl:active:not(.disabled) {
	background: var(--dropdown-item-bg-active);
}

/* PopperDropdownWrapper */
.popperDropdownWrapper {
	position: relative;
}

.popperDropdownWrapper[data-display='block'] {
	display: block;
	width: 100%;
}

.popperDropdownWrapper[data-display='inline-block'] {
	display: inline-block;
	width: auto;
}

/* PopperList */
.popperList {
	position: fixed;
	display: none;
	visibility: hidden;
	pointer-events: none;
	background-color: var(--color-gray5-regular);
	box-shadow: var(--shadow-regular);
	z-index: 999;
	max-height: var(--popper-max-height);
	overflow-y: auto;
}

.popperList.open {
	display: block;
	visibility: visible;
	pointer-events: auto;
}

.popperList::-webkit-scrollbar {
	width: 0.5rem;
}

.popperList::-webkit-scrollbar-track {
	background-color: transparent;
}

.popperList::-webkit-scrollbar-thumb {
	background-color: var(--color-gray3-regular);
	border-radius: 0.25rem;
}

.popperList,
.popperList > [tabindex='-1']:focus {
	outline: none;
}
