/*
 * SPDX-FileCopyrightText: 2021 Zextras <https://www.zextras.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.input {
	border: none !important;
	height: auto !important;
	width: 100%;
	outline: 0;
	background: transparent !important;
	font-size: var(--font-size-medium);
	font-weight: var(--font-weight-regular);
	font-family: var(--font-family);
	color: var(--input-color);
	transition: background 0.2s ease-out;
	line-height: 1.5;
	padding: 0;
}

.input:disabled {
	color: var(--input-color-disabled);
}

.input::placeholder {
	color: transparent;
	font-size: 0;
	user-select: none;
}

.relativeContainer {
	position: relative;
}

.label {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	font-size: var(--font-size-medium);
	font-weight: var(--font-weight-regular);
	font-family: var(--font-family);
	line-height: 1.5;
	color: var(--label-color);
	transition:
		transform 150ms ease-out,
		font-size 150ms ease-out,
		top 150ms ease-out,
		left 150ms ease-out;
	cursor: inherit;
	user-select: none;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.input:focus ~ .label,
.input:not(:placeholder-shown) ~ .label {
	top: 0;
	transform: translateY(0);
	font-size: var(--font-size-extrasmall);
}

.inputDescription {
	line-height: 1.5;
	padding-top: 0.25rem;
	min-height: calc(var(--font-size-extrasmall) * 1.5);
}
