/*
 * SPDX-FileCopyrightText: 2021 Zextras <https://www.zextras.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.popperContainer {
  display: none;
  position: absolute;
}

.popperContainer.open {
  display: block;
  z-index: 99;
}

.popperWrapper {
  outline: 0;
}
