/*
 * SPDX-FileCopyrightText: 2021 Zextras <https://www.zextras.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.container {
  transition: background 0.2s ease-out;
  background: var(--color-gray5-regular);
}

.container:hover {
  background: var(--color-gray5-hover);
}

.containerFocused {
  background: var(--color-gray5-focus);
}

.label {
  position: absolute;
  left: var(--padding-size-large);
  transition: all 150ms ease-out;
}

.customText {
  min-height: 1.167em;
}

.tabContainer {
  position: relative;
  cursor: pointer;
}

.tabContainer:focus {
  outline: none;
}

.iconWrapper {
  display: flex;
  align-items: center;
  align-self: center;
  pointer-events: none;
  line-height: 0;
}
