/*
 * SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.modalTitle {
  box-sizing: border-box;
  width: 100%;
  flex-grow: 1;
  flex-basis: 0;
  line-height: 1.5;
  padding: var(--padding-small) var(--padding-small) var(--padding-small) 0;
}

.modalTitle.centered {
  text-align: center;
}
