/*
 * SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.optionalFooterContainer {
  min-width: 0.0625rem;
  flex-basis: auto;
  flex-grow: 1;
}

.buttonContainer {
  min-width: 0.0625rem;
  flex-basis: auto;
  flex-grow: 1;
}

.buttonContainer.pushLeftFirstChild > *:first-child {
  margin-right: auto;
}

.dismissButton {
  margin-right: var(--padding-large);
  flex-basis: auto;
  min-width: 6.25rem;
  flex-shrink: 1;
}

.confirmButton {
  flex-basis: auto;
  min-width: 6.25rem;
  flex-shrink: 1;
}
