/*
 * SPDX-FileCopyrightText: 2024 Zextras <https://www.zextras.com>
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

/*  this file defines CSS variables that map to the colors defined by Figma styles */

:root {
  /*  Color styles  */
  --admin--module: #c9a978;
  --auth--module: #38c67e;
  --backup--module: #76bd22;
  --docs--module: #1c7987;
  --drive--module: #f78200;
  --mobile--module: #f1c453;
  --powerstore--module: #29a1ba;
  --team--module: #1cd3d4;
  --core--module: #c71f37;
  --features: #00506d;
  --banner---success-banner--dark: #e0f9c3;
  --banner---warning-banner--dark: #fff1c9;
  --banner---error-banner--dark: #facbca;
  --banner---info-banner--dark: #bde7fe;
  --banner---warning-banner--light: #fff7de;
  --banner---error-banner--light: #f6d6d5;
  --banner---success-banner--light: #e6f2d8;
  --banner---info-banner--light: #d3ebf8;
  --text---light---active: #0d0d0d;
  --text---light---disabled: #cccccc;
  --text---light---focus: #1a1a1a;
  --text---light---hover: #1a1a1a;
  --text---light---regular: #333333;
  --gray0---light---active: #1b1b1b;
  --gray0---light---disabled: #cccccc;
  --gray0---light---focus: #282828;
  --gray0---light---hover: #282828;
  --gray0---light---regular: #414141;
  --gray1---light---active: #5c5c5c;
  --gray1---light---disabled: #cccccc;
  --gray1---light---focus: #696969;
  --gray1---light---hover: #696969;
  --gray1---light---regular: #828282;
  --gray2---light---active: #a3aebc;
  --gray2---light---disabled: #cfd5dc;
  --gray2---light---focus: #b1bbc6;
  --gray2---light---hover: #b1bbc6;
  --gray2---light---regular: #cfd5dc;
  --gray3---light---active: #bac2cd;
  --gray3---light---disabled: #e6e9ed;
  --gray3---light---focus: #c8cfd8;
  --gray3---light---hover: #c8cfd8;
  --gray3---light---regular: #e6e9ed;
  --gray4---light---active: #c1c5d3;
  --gray4---light---disabled: #eeeff3;
  --gray4---light---focus: #d0d3de;
  --gray4---light---hover: #d0d3de;
  --gray4---light---regular: #eeeff3;
  --gray5---light---active: #c8ced9;
  --gray5---light---disabled: #f5f6f8;
  --gray5---light---focus: #d7dbe3;
  --gray5---light---hover: #d7dbe3;
  --gray5---light---regular: #f5f6f8;
  --gray6---light---active: #d9d9d9;
  --gray6---light---disabled: #ffffff;
  --gray6---light---focus: #e6e6e6;
  --gray6---light---hover: #e6e6e6;
  --gray6---light---regular: #ffffff;
  --primary---light---active: #1e5092;
  --primary---light---disabled: #aac8ee;
  --primary---light---focus: #225ca8;
  --primary---light---hover: #225ca8;
  --primary---light---regular: #2b73d2;
  --secondary---light---active: #5c5c5c;
  --secondary---light---disabled: #cccccc;
  --secondary---light---focus: #696969;
  --secondary---light---hover: #696969;
  --secondary---light---regular: #828282;
  --highlight---light---active: #96b8e8;
  --highlight---light---disabled: #d5e3f6;
  --highlight---light---focus: #abc7ed;
  --highlight---light---hover: #abc7ed;
  --highlight---light---regular: #d5e3f6;
  --success---light---active: #639030;
  --success---light---disabled: #cee6b2;
  --success---light---focus: #71a436;
  --success---light---hover: #71a436;
  --success---light---regular: #8bc34a;
  --error---light---active: #a92a24;
  --error---light---disabled: #edaeab;
  --error---light---focus: #be3028;
  --error---light---hover: #be3028;
  --error---light---regular: #d74942;
  --info---light---active: #176691;
  --info---light---disabled: #a7d7f1;
  --info---light---focus: #1a75a7;
  --info---light---hover: #1a75a7;
  --info---light---regular: #2196d3;
  --warning---light---active: #ba8b00;
  --warning---light---disabled: #ffe699;
  --warning---light---focus: #d39e00;
  --warning---light---hover: #d39e00;
  --warning---light---regular: #ffc107;
  --avatar--01: #ef9a9a;
  --avatar--02: #f48fb1;
  --avatar--03: #ce93d8;
  --avatar--04: #b39ddb;
  --avatar--05: #9fa8da;
  --avatar--06: #90caf9;
  --avatar--07: #81d4fa;
  --avatar--08: #80deea;
  --avatar--09: #80cbc4;
  --avatar--10: #a5d6a7;
  --avatar--11: #c5e1a5;
  --avatar--12: #e6ee9c;
  --avatar--13: #ffe082;
  --avatar--14: #ffe082;
  --avatar--15: #ffab91;
  --avatar--16: #bcaaa4;
  --avatar--17: #e57373;
  --avatar--18: #f06292;
  --avatar--19: #ba68c8;
  --avatar--20: #9575cd;
  --avatar--21: #7986cb;
  --avatar--22: #64b5f6;
  --avatar--23: #4fc3f7;
  --avatar--24: #4dd0e1;
  --avatar--25: #4db6ac;
  --avatar--26: #81c784;
  --avatar--27: #aed581;
  --avatar--28: #dce775;
  --avatar--29: #ffd54f;
  --avatar--30: #ffb74d;
  --avatar--31: #ff8a65;
  --avatar--32: #a1887f;
  --avatar--33: #0097a7;
  --avatar--34: #ef5350;
  --avatar--35: #ec407a;
  --avatar--36: #ab47bc;
  --avatar--37: #7e57c2;
  --avatar--38: #5c6bc0;
  --avatar--39: #42a5f5;
  --avatar--40: #29b6f6;
  --avatar--41: #26c6da;
  --avatar--42: #26a69a;
  --avatar--43: #66bb6a;
  --avatar--44: #9ccc65;
  --avatar--45: #d4e157;
  --avatar--46: #ffca28;
  --avatar--47: #ffa726;
  --avatar--48: #ff7043;
  --avatar--49: #8d6e63;
  --avatar--50: #0288d1;
  --tags--01: #2b73d2;
  --tags--02: #4fc1e9;
  --tags--03: #48cfad;
  --tags--04: #f6bb42;
  --tags--05: #fc6e51;
  --tags--06: #ed5565;
  --tags--07: #efa9d1;
  --tags--08: #ac92ec;
  --tags--09: #cfd5dc;
  --tags--10: #333333;
  --calendars--card--01: #e5f4f6;
  --calendars--card--02: #fdeded;
  --calendars--card--03: #fdecf1;
  --calendars--card--04: #f2eef9;
  --calendars--card--05: #eef0f9;
  --calendars--card--06: #e9f8fe;
  --calendars--card--07: #e9f6f5;
  --calendars--card--08: #eff8f0;
  --calendars--card--09: #fff0ec;
}
